<!--Two way data binding pra fazer a filtragem-->
<input [(ngModel)]="nameFilter" type="text" id="poke-filter" placeholder="Procurar" maxlength="20">

<img [src]="pkmSprite" class="selected-pkm" *ngIf="selectedPkm !== null">
<!--Property binding usando colchetes pra pegar o pokemon da variavel e mostrar-->


<ul class="poke-list">
  <!-- Lista o componente que está com a lista -->
  <app-list-item *ngFor="let pokemon of pokemonList" [pokemon]="pokemon" (mouseenter) = "selectPokemon(pokemon)" ></app-list-item>
</ul>
